body{
  background-color: #C9ADA7;
}
h2{
  color:#F2E9E4;
    font-size:275%;
  font-family: 'Shrikhand', cursive;
  letter-spacing:2px;
  text-decoration: ;
}
img{
  border: dashed #B5838D 12px;
}
ul{
  list-style-type: none;
  text-alin: left;
  position: fixed;
}
li {
  float: left;
}
li a{
  padding: 5px;
  font-family: 'Shrikhand', cursive;
  border-style: dashed;
  color:#4A4E69;
  text-decoration-line: none;
}
li a:hover{
  background-color: #9A8C98;
  color: white;
}
p{
  font-family: 'Shrikhand', cursive;
  color:#4A4E69;
}
